.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  text-align: center;
  background: black;
  color: white;
  border-top: 1px solid #ccc;

  p{
    font-size: 18px;
    span{
      color: orange;
    }
  }
}